* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    background-color:#222;
    color:#fff;
    border-color: #080808;
    min-height: 50px;
    border: 1px solid transparent;
}
.inner-header{
    width:80%;
    margin:auto;
}
.centerlogo{
    text-align: center;
    left: 45%;
    height: 50px;
    padding: 15px; 
    font-size: 20px; 
    font-weight: bold;

}
.centerlogo:hover{
    color:#9d9d9d;
}
.thumbnails{
    width: 100%;
    height: auto;
}      
.page{
    height: 100%;
    
}
.content{
    height: 100%;
    transform-origin: top left;
    transition: transform 0.7s cubic-bezier(1,0.005,0.24,1);
    background-color: #584e4a;
    
}
.inner-content{
    height: 100%;
}

.menu_toggle{
    z-index: 900;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    cursor: pointer;
    width: 100px;
    height: 80px;
    background-color: #c9302c;
    border-bottom-right-radius: 100%;
}
.menu_toggle:active a{
    opacity: 0.8;
    
}
.menu_toggle a{
    color: #f0f0f0;
}
.menu_toggle .menu_open, .menu_toggle .menu_close{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -12px;
    transition: transform 0.7s cubic-bezier(1, 0.005, 0.24, 1);
}
.menu_toggle .menu_open{
    transform-origin: -150px -100px
    
}
.menu_toggle .menu_close{
    transform: rotate(20deg);
    transform-origin: -100px -160px;
    
}

.menu_items{
    position: fixed;             
    bottom: 0;
    left: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu_items li{
    height: 60px;
    margin-bottom: 30px;
    transform: translateX(-300px);
    transition: transform 0.7s 0s cubic-bezier(1,0.005,0.24,1);
}
.menu_items li:nth-child(2){
    margin-left: 40px;
}
.menu_items li:nth-child(3){
    margin-left: 80px;
}
.menu_items a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #a4a4a4;
    transition: color 0.2s;
}
.menu_items a .icon {
  position: relative;
  display: inline-block;
  margin-right: 25px;
  color: #f0f0f0;
}
.menu_items a .icons:after{
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    display: box;
    width: 60px;
    height: 60px;
    margin-left: -33px;
    margin-top: -32px;
    border: 2px solid #f0f0f0;
    border-radius: 100%;
    transition: border-color 0.2s;
}
.menu_items a:hover{
    color: #f0f0f0;
}
.menu_items a:hover .icon:after{
    border-color: #f37272;
}
.menu_items a:active .icon{
    color: #f37272;
}


.real .content{
    transform: rotate(-30deg);
}

.real .menu_open{
    transform: rotate(-20deg);
}
.real .menu_close{
    transform: rotate(0);
}
.real .menu_items li{
    transform: translateX(0);
    transition: transform 0.35s 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.real .menu_items li:nth-child(2){
    transition-delay: 0.5s;
}
.real .menu_items li:nth-child(3){
    transition-delay: 0.55s;
}
.gi-2x{
    font-size: 1.5em;
}



a{ 
   text-decoration: none;
    background-color: transparent; 
    color:#ededed; 
}

.homecontent{
    min-height: 600px;
}
.banner-image{
    padding-bottom: 50px;  
    text-align: center; 
    color: #f8f8f8; 
    background: url(img/home.jpg) no-repeat center; 
    background-size: cover;
}
.inner-banner{
    padding-top: 12%; 
    width:80%;
    margin:auto;
}
.banner_content{
    position: relative;
    margin-left: 20%;
    padding-top: 6%;
    padding-bottom: 6%;
    overflow:hidden;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
}
.button{
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
}
footer{
    padding: 10px 0;
    background-color: #101010;
    color:#9d9d9d;
    bottom: 0;
    width: 100%;
}
.buttons{
    width: 27%;
    background-color: #c9302c;
    height: 10%;
    font-size: 20px;
    
}
.buton{
    background-color: #c9302c;
    color: #f8f8f8;
    
}
#back-image{
    margin-top: 45px;
    padding-top: 75px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(img/signup_back.jpg) no-repeat center ;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: auto;
    
}
.back-content{
    
    padding-top: 10px;
    margin-left: 22%;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 590px;
    max-height: 800px;
    padding-bottom: 20px;
}
.row-style{
    margin-top: 10%;
}
.float{
    float: left;
}
.modal-style{
    width: 100%;
    height: auto;    
}
